@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: grid;
  grid-template-columns: 20% 70%;
}

.card-body{
  display: grid;
  grid-template-columns: repeat(24, 1fr);
    width: 6rem;
    margin-top: 2rem;
    margin-left: 10rem;
    border-radius: 20px 20px 0 0;
    gap: 0.5rem;
    overflow-y: auto;
    width: 60rem;
    height: 28.1rem;
    background: rgba(28, 26, 34, 0.199);
}



.weather-card-body__hour-div{
  background-color: #272727;
    width: 8rem;
    margin-top: 2rem;
    margin-left: 1.3rem;
    border-radius: 20px;
    text-align: center;
    height: 25rem;
}

.weather-card-body__text {
  font-size: large;

}

.weather-card-body__text::after {
  background-color: #efefef; 
    content: '';
    display: block;
    height: 2px;
    margin-left: 1.8rem;
    margin-top: 0.5rem;
    width: 70px;
}

.weather-text:nth-child(5)::before {
  display: flex;
  content: 'Wind';
  justify-content: center;
}


.weather-text {
  font-size: large;
  height: 3rem;
}


::-webkit-scrollbar {
  width: 10px; 
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #575757; 
  border-radius: 10px; 
 
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3; 
  border-radius: 10px; 
  
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

#weatherCard {
  margin-left: 0;
}

.weather-days{
  background-color: #1e1e1e;
  width: 6rem;
  margin-top: 2rem;
  margin-left: 0.45rem;
  text-align: center;
  place-items: center;
  border-radius: 20px;
}

.weather-days__h1{
  font-size: medium;
}

.weather-days__h1::after{
    background-color: #efefef; 
    content: '';
    display: block;
    height: 2px;
    margin-left: 1.4rem;
    margin-top: 0.5rem;
    width: 50px;
}

.max-temp {
  font-size: large;
}


.max-temp::after {
  font-size: large;
  content: '°C';
}


.card-header {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 30%;
  margin-left: 18rem;
  margin-top: 5rem;
  
}

body {
  background: rgb(17, 16, 21);
}

.countries-list__element {
  font-size: 1rem;
  font-weight: bold;
}

.country-capital {
  font-weight: normal;
}

#countriesCard {
  width: 20rem;
  height: 54rem;
  background: #1e1e1e;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 10px;
}

.country-mini__card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  text-align: center;
  place-items: center;
  top: 50%;
  left: 50%;
  height: auto;
  width: 80%;
  margin: 0.5rem;
  /*border: 1px solid rgb(75, 75, 75);*/
  border-radius: 3px;
  background-color: #272727;

}

.country-mini__card:active {
  background-color: rgb(105, 105, 105);
}

.countries-list {
  overflow: hidden;
  overflow-y: auto;
  /* Csak függőleges görgetés */
  overflow-x: hidden;
  /* Vízszintes görgetés tiltása */
  scrollbar-width: none;
  width: 23.7rem;
  height: 50.3rem;
}

.countries-list__element>.country-capital {
  margin-top: 0;
  margin-bottom: 0;
}

.countries-list__element {
  margin-left: 0.5rem;
}

.flag {
  height: 2rem;
  width: 3.5rem;
  margin-left: 0.5rem;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 6px;
  object-fit: cover;
}

.control-panel {}

button {
  width: 5rem;
  height: 1.7rem;
  border-radius: 4px;
  border: 1px solid rgb(151, 151, 151);
  margin: 0.5rem;
  margin-left: 1.4rem;
  background: linear-gradient(180deg, #4b90f7e0 0%, #3679f6d3 100%);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.country-mini__card--active {
  background-color: #363636;
  border: 1px solid rgb(92, 92, 92);
}


@media (max-width: 1366px),
(max-height: 768px) {
  #countriesCard {
    width: 15rem;
    height: 31.4rem;
    background: #1e1e1e;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 10px;
  }

  .country-mini__card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    text-align: center;
    place-items: center;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    margin: 0.5rem;
    /*border: 1px solid rgb(75, 75, 75);*/
    border-radius: 3px;
    background-color: #272727;

  }

  .countries-list {
    overflow: hidden;
    overflow-y: auto;
    /* Csak függőleges görgetés */
    overflow-x: hidden;
    /* Vízszintes görgetés tiltása */
    scrollbar-width: none;
    width: 15rem;
    height: 28.7rem;
  }

  .card-header {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 30%;
    margin-left: 14rem;
    
  }

  .weather-days{
    background-color: #1e1e1e;
    width: 5rem;
    margin-top: 2rem;
    margin-left: 0.45rem;
    text-align: center;
    place-items: center;
    border-radius: 20px;
  }

  .weather-days__h1::after{
    background-color: #efefef; 
    content: '';
    display: block;
    height: 2px;
    margin-left: 1.0rem;
    margin-top: 0.5rem;
    width: 50px;
} 
  .max-temp {
    font-size: large;
  }


  .max-temp::after {
    font-size: large;
    content: '°C';
  }

  .card-body{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background-color: #1e1e1e;
      width: 6rem;
      margin-top: 2rem;
      margin-left: 5rem;
      border-radius: 20px 20px 0 0;
      gap: 0.25rem;
      overflow-y: auto;
      width: 50rem;
      height: 16.1rem;
      
  }
}