:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.countries-list__element{
  font-size: 1rem;
  font-weight: bold;
}

.country-capital{
  font-weight: normal;
}

.countries-list__element--active{
  background-color: aqua;
}

#countriesCard{
  width: 15rem;
  height: 55rem;
  background: #1e1e1e;
}

.country-mini__card{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  text-align: center;
  place-items: center;

  top: 50%;
  left: 50%;

  height: auto;
  width: auto;
}


.countries-list{
  overflow: hidden;
  overflow-y: auto; /* Csak függőleges görgetés */
  overflow-x: hidden; /* Vízszintes görgetés tiltása */
  scrollbar-width: none;
  width: 15rem;
  height: 50rem;
}

.countries-list__element > .country-capital{
  margin-top: 0;
  margin-bottom: 0;
}

.countries-list__element{
  margin-left: 0.5rem;
}

.flag{
  height: 2rem;
  width: 3.5rem;
}
