@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

body {
  background: #171717;
}

.countries-list__element {
  font-size: 1rem;
  font-weight: bold;
}

.country-capital {
  font-weight: normal;
}

.countries-list__element--active {
  /*background-color: aqua;*/
}

#countriesCard {
  width: 15rem;
  height: 50.4rem;
  background: #1e1e1e;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 10px;
}

.country-mini__card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  text-align: center;
  place-items: center;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  margin: 0.5rem;
  /*border: 1px solid rgb(75, 75, 75);*/
  border-radius: 3px;
  background-color: #272727;

}

.country-mini__card:active {
  background-color: rgb(105, 105, 105);
}

.countries-list {
  overflow: hidden;
  overflow-y: auto;
  /* Csak függőleges görgetés */
  overflow-x: hidden;
  /* Vízszintes görgetés tiltása */
  scrollbar-width: none;
  width: 15rem;
  height: 47.1rem;
}

.countries-list__element>.country-capital {
  margin-top: 0;
  margin-bottom: 0;
}

.countries-list__element {
  margin-left: 0.5rem;
}

.flag {
  height: 2rem;
  width: 3.5rem;
  margin-left: 0.5rem;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 6px;
  object-fit: cover;
}

.control-panel {}

button {
  width: 5rem;
  height: 1.7rem;
  border-radius: 4px;
  border: 1px solid rgb(151, 151, 151);
  margin: 0.5rem;
  margin-left: 1.4rem;
  background: linear-gradient(180deg, #4b90f7e0 0%, #3679f6d3 100%);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.country-mini__card--active {
  background-color: #363636;
  border: 1px solid rgb(92, 92, 92);
}


@media (max-width: 1366px),
(max-height: 768px) {
  #countriesCard {
    width: 15rem;
    height: 40.4rem;
    background: #1e1e1e;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 10px;
  }

  .country-mini__card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    text-align: center;
    place-items: center;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    margin: 0.5rem;
    /*border: 1px solid rgb(75, 75, 75);*/
    border-radius: 3px;
    background-color: #272727;

  }

  .countries-list {
    overflow: hidden;
    overflow-y: auto;
    /* Csak függőleges görgetés */
    overflow-x: hidden;
    /* Vízszintes görgetés tiltása */
    scrollbar-width: none;
    width: 15rem;
    height: 37.7rem;
  }
}